<a href="https://colab.research.google.com/github/AllanBrandlMAN/AlcoolouGasolinaApp/blob/master/Apostila_de_fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 - variaveis de texto

In [ ]:
1# hastag na area de codigo para comentarios curtos
'''Aspas triplas para comentario de mais de uma linha

In [4]:
1# strings
cliente = 'Saulo'
print(cliente)

# verificar qual tipo de dado foi escolhido automaticamente
type (cliente)

Saulo

str

In [5]:
# numeros inteiro
idade = 27
print(idade)
type(idade)

27

int

In [7]:
# float = numeros com casas decimais
altura = 1.75
print(altura)
type(altura)

1.75

float

In [10]:
# mudando o tipo original do dado
"Suponha que vc tem o numero 1.85 tipado com String mas deseja converte-lo para float"
n = '1.85'
print(type(n))
n = float(n)
print(type(n))

<class 'str'>
<class 'float'>

In [11]:
"Transformando valor int em float"
print(type(idade))
idade = float(idade)
print(type(idade))

<class 'int'>
<class 'float'>

In [12]:
# soma
soma = 10 + 10
print(soma)

20

In [13]:
# subtracao
subtracao = 10 - 5
print(subtracao)

5

In [14]:
# multiplicacao
multiplicacao = 10 * 10
print(multiplicacao)

100

In [15]:
# divisao
divisao = 10 / 2
print(divisao)

5.0